@import "tailwindcss";
@import "swiper/css/bundle";
@import "@fancyapps/ui/dist/fancybox/fancybox.css";
@import "./css/theme.css";
@import "./css/components.css";

@plugin "@tailwindcss/typography";

/* Google Maps Fix */
.acf-map img {
  @apply max-w-none!;
}

/* Tailwind Prose Fix */
/* .prose :where(strong):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  @apply text-inherit;
} */