@import "tailwindcss";

/* Third Party CSS */
@import "swiper/css/bundle";
@import "@fancyapps/ui/dist/fancybox/fancybox.css";

/* Custom Theme Configuration */
@import "./css/theme.css";

/* Component Styles */
@import "./css/components.css";