@import "tailwindcss";
@import "swiper/css/bundle";
@import "@fancyapps/ui/dist/fancybox/fancybox.css";
@import "./css/theme.css";
@import "./css/components.css";

@plugin "@tailwindcss/typography";

/* Google Maps Fix */
.acf-map img {
  max-width: none !important;
}
